<section id="about" class="main-section">
    <div class="container">
        <div class="row mb-5  center-text">
            <div class="col-lg-12">
                <h1>ABOUT</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-2">
                <img class="img-fluid avatar" src="./img/avatar.jpg">
            </div>
            <div class="col-lg-10">
                <p>I'm Lindsay Kay, a software engineer developing browser-based 3D solutions for BIM, engineering and
                    medical visualization.</p>

                <p>Originally from Christchurch, New Zealand, I’ve lived in Berlin, Germany since 2011. I graduated with
                    a degree in computer science from the University of Canterbury in 2005.</p>
                <p>I'm now a full-time member of the team at <a href="https://creoox.com">Creoox AG</a>. Together, we are
                    developing the
                    <a href="https://xeokit.io">xeokit SDK</a>, an open source SDK I created in 2020 for
                    viewing large AEC and BIM models in the browser.</p>
                <p><a href="https://creoox.com/en/contact/">Get in contact</a> with us if you need a full-precision,
                    high-performance,
                    open source solution for viewing your BIM in the browser, or
                    check out some of my previous <a href="./work.html">work</a> here at xeolabs.</p>

                <br>
                <ul>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="mailto:lindsay.kay@xeolabs.com?subject=[xeolabs.com]%20xeolabs%20business%20inquiry"><i
                                class="fa fa-envelope mr-1"></i> lindsay.kay@xeolabs.com</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.linkedin.com/in/lindsaystanleykay/"><i class="fa fa-linkedin mr-1"></i>
                            LinkedIn</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://twitter.com/xeolabs"><i class="fa fa-twitter mr-1"></i> Twitter</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://github.com/xeolabs" target="_code"><i class="fa fa-github mr-1"></i>
                            Github</a>
                    </li>
                </ul>
            </div>
        </div>
</section>