<footer class="py-5 bg-dark xeolabs-footer">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3 text-left">
                <h2>xeolabs</h2>
                <p>3D Web Software Engineering</p>
                <img src="./img/xeokitLogoAlphaBG.png">
            </div>

            <div class="col-md-3 col-sm-6 col-6  mb-3 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase ">Info</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="./index.html">Home</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                            href="./index.html#products">Products</a></li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="./work.html">Work</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="./index.html#about">About</a>
                    </li>
<!--                    <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a-->
<!--                            href="./pdfs/lindsaykay_resume_2019.pdf">Resume</a>-->
<!--                    </li>-->
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-6 mb-3 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase ">Connect</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="mailto:lindsay.kay@xeolabs.com?subject=[xeolabs.io]%20xeolabs%20SDK%20customer%20inquiry"><i
                                class="fa fa-envelope mr-1"></i> lindsay.kay@xeolabs.com</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="http://www.xeolabs.com"><i class="fa fa-globe mr-1"></i>
                            xeolabs.com</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.linkedin.com/in/lindsaystanleykay/"><i class="fa fa-linkedin mr-1"></i>
                            LinkedIn</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://twitter.com/xeolabs"><i class="fa fa-twitter mr-1"></i> Twitter</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://github.com/xeolabs" target="_code"><i class="fa fa-github mr-1"></i>
                            Github</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="py-4 d-flex justify-content-center align-items-center">
                    <p class="m-0 text-center">Copyright &copy; <a href="http://xeolabs.com">xeolabs</a> 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
