<section class="main-section alabaster">
    <div class="container">
        <div class="row testimonial-row">
            <div class="col-lg-12">
                <h1>Client Testimonials</h1>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-12">
                <blockquote><b>We were really happy to work with Lindsay as he helped us increase our viewer’s quality
                    and performance a lot.</b> It was enjoyable to see a continuous incoming stream of quality JavaScript
                    code coming our way. I recommend contracting with Lindsay without
                    reservation.
                    <cite><a href="https://www.linkedin.com/in/stephanemor/">Stéphane Mor
                    </a>, CTO at <a href="https://bimdata.io">BIMData</a>, Lyon, France</cite>
                </blockquote>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-12">
                <blockquote><b>Lindsay is a talented and experienced 3D graphics developer.</b> He is also a
                    pleasure to work with, reliable team contributor and always knowledgeable in the latest in 3D
                    graphics.
                    <cite><a href="https://www.linkedin.com/in/franksculli/" target="_external">Frank
                        Sculli</a>, CEO at <a href="https://biodigital.com/" target="_external">BioDigital
                        LLC</a>, New York, NY</cite>
                </blockquote>
            </div>
        </div>
        <div class="row testimonial-row">
            <div class="col-sm-12">
                <blockquote><b>Lindsay is great to work with.</b> Deep knowledge of 3D graphics algorithms and software
                    design patterns. Excellent research and algorithm-development skills. Has a knack for creating
                    simple, usable interfaces for complex systems.
                    <cite><a href="https://www.linkedin.com/in/tareksherif/" target="_external">Tarek Sherif</a>, Senior
                        Software Engineer, Data Visualization at <a href="https://www.uber.com/" target="_external">Uber</a>, New York, NY</cite>
                </blockquote>
            </div>
        </div>

    </div>
</section>
