<section id="clients" class="section-bg">
    <div class="container">
        <div class="row mb-5 center-text">
            <div class="col-sm-12">
                <h1>XEOLABS</h1>
            </div>
        </div>
        <div class="row mb-5 center-text">
            <div class="col-sm-12">
                <h4>Developing Graphics Software for Web-based BIM, Engineering and Medicine</h4>
            </div>
        </div>
        <div class="row mb-5 no-gutters clients-wrap clearfix wow fadeInUp  shadow"
             style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_biodigital_human.html">
                    <div class="client-logo"><img
                            src="./img/logos/BioDigital_Logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_smiletrain.html">
                    <div class="client-logo"><img
                            src="./img/logos/smiletrain.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_openproject.html">
                    <div class="client-logo"><img
                            src="./img/logos/OpenProject-Logo-640x137.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://snglr.com/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/singular.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.planradar.com/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/planradar-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://bimspot.io/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/bimspot.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="http://dstudio.be/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/dstudio-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.eyeonim.nl/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/eyeonim-logo.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.hok.com/" target="_other">
                    <div class="client-logo"><img
                            src="./img/logos/hok-logo.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://unizite.info/">
                    <div class="client-logo"><img src="./img/logos/unizite-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://buildsort.com/">
                    <div class="client-logo"><img src="./img/logos/buildsort-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_bimdata.html">
                    <div class="client-logo"><img src="./img/logos/bimdata-logo.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_zspace.html">
                    <div class="client-logo"><img src="./img/logos/zspace-200.jpg"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.tno.nl/en/">
                    <div class="client-logo"><img src="./img/logos/tno.png"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://www.fraunhofer.it/">
                    <div class="client-logo"><img src="./img/logos/italia_190x52.gif"
                                                  class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_solidcomponents.html">
                    <div class="client-logo"><img
                            src="./img/logos/SolidComponents.png" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="./work_openproject.html">
                    <div class="client-logo"><img
                            src="./img/logos/dbi.jpg" class="img-fluid" alt=""></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://xeokit.io/blog_creoox_becomes_xeokit_sales_partner.html">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/logos/creoox.png"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://tmm-group.de/">
                    <div class="client-logo"><img alt=""
                                                  class="img-fluid" src="./img/logos/tmm.jpeg"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://creoox.com/">
                    <div class="client-logo"><img src="./img/logos/creoox.png" class="img-fluid" alt=""></div>
                </a>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 text-center">
                <a href="./work.html" class="btn btn-lg btn-outline-primary border-2">View Work &gt;&gt;</a>
            </div>
        </div>
    </div>
</section>

